@page "/login"
@using AdessibindenFrontend.Services.Abstract
@using AdessibindenFrontend.Services.Results
@using Application.Features.Auth.Commands.Login
@using Core.Application.Dtos
@inject IAuthService _authService;

<div class="container-fluid">
    <h1 class="text-center mt-5">Login</h1>

    <EditForm Model="credentials" OnValidSubmit="LoginUser" class="w-25 m-auto mt-5">
        <div class="form-floating">
            <InputText @bind-Value="credentials.Email" id="email" placeholder="Email..." class="form-control mb-2" />
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <InputText @bind-Value="credentials.Password" type="password" placeholder="Password..." id="password" class="form-control mb-2" />
            <label for="floatingPassword">Password</label>
        </div>

    
        <button class="btn btn-primary w-100 py-2 btn-success" type="submit">Sign in</button>
        <p class="mt-2">Don't you have an account? 
        <a href="/register" class="m-1"><i class="bi bi-person-plus-fill"></i>Register</a>
        </p>
    </EditForm>

</div>


@code {
    public IRequestResult<LoggedResponse> loggedResponse;
    public UserForLoginDto credentials = new()
        {
            Email = "emre@emre",
            Password = "1234"
        };
    private async Task LoginUser()
    {

        loggedResponse = await _authService.Login(credentials);

    }
}
