@inherits LayoutComponentBase

@if (@Visible)
{
    <div class="d-flex align-items-center justify-content-center mt-5">
        <div class="spinner-border" style="height:200px;width:200px;margin-top:5vh;color:#006ec7;border-width:20px" role="status">
           <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}

    @code {
    [Parameter]
    public bool Visible { get; set; }
}