@inherits LayoutComponentBase

    <NavMenu />
    <main>
        <article class="content px-4">
            <CustomErrorBoundary @ref="errorBoundary">
                <ChildContent>
                    <LoadingLayout Visible="@loadingVisible"></LoadingLayout>
                    <CascadingValue Value="@Loading" TValue="Action<bool>">
                    @Body
                    </CascadingValue>
                </ChildContent>

                <ErrorContent>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="alert alert-danger m-lg-5 col-4">  
                            <h3>
                                @context.Message
                            </h3>
                            <button class="btn btn-info float-end" @onclick="() => errorBoundary.Recover()">Continue</button>
                        </div>
                    </div>
                </ErrorContent>
            </CustomErrorBoundary>
        </article>
    </main>

@code
{
    private CustomErrorBoundary errorBoundary;

    bool loadingVisible { get; set; }

    protected override void OnInitialized()
    {
        errorBoundary = new CustomErrorBoundary();
    }

    public void Loading(bool isLoading)
    {
        loadingVisible = isLoading;
        StateHasChanged();
    }
}