@page "/"
@using AdessibindenFrontend.Services.Abstract
@using AdessibindenFrontend.Services.Results
@using Application.Features.Auth.Commands.Login
@using Application.Features.Colors.Queries.GetAll
@using Core.Application.Dtos
@using Core.Application.Responses
@inject IColorService _colorService;


@if (IsProcessing){
    <p>Loading...</p>
}
else{
    <button @onclick="() => GetColors()" class="btn btn-success btn-block"><i class="bi bi-person-bounding-box"></i> Get Colors</button>

    if (IsColorsReady)
    {
      
                
    @foreach(var item in colorResponse.Data.Items)
    {
        <div>
            <h1>@item.Name</h1>
        </div>
    }
      

    }
   

}



@code{
    public bool IsProcessing { get; set; } = false;
    public bool IsColorsReady { get; set; } = false;
    public RequestResult<GetListResponse<GetAllColorsListItemDto>> colorResponse;
    

    

    private async Task GetColors()
    {
        IsProcessing = true;

        colorResponse = await _colorService.GetAll(0, 10);
        IsColorsReady = colorResponse.Success;

        IsProcessing = false;

    }

}