@page "/login"
@using AdessibindenFrontend.Services.Abstract
@using AdessibindenFrontend.Services.Results
@using Application.Features.Auth.Commands.Login
@using Core.Application.Dtos
@inject IAuthService _authService;


<h3>Login</h3>

<EditForm Model="credentials" OnValidSubmit="LoginUser">


    <div class="py-2">
        <InputText @bind-Value="credentials.Email" id="email" placeholder="Email..." class="form-control mb-2" />
    </div>
    <div class="py-2">
        <InputText @bind-Value="credentials.Password" type="password" placeholder="Password..." id="password" class="form-control mb-2" />
    </div>
    <div class="py-2">
        <button type="submit" class="btn btn-success btn-block"><i class="bi bi-person-bounding-box"></i> Sign in</button>
        <a href="/register" class="btn btn-primary text-white m-2"><i class="bi bi-person-plus-fill"></i> Register as a new user</a>
    </div>


</EditForm>



@code {
    public IRequestResult<LoggedResponse> loggedResponse;
    public UserForLoginDto credentials = new()
        {
            Email = "emre@emre",
            Password = "1234"
        };
    private async Task LoginUser()
    {

        loggedResponse = await _authService.Login(credentials);

    }
}
