@page "/not-found"

<div class="bg-light d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 text-danger">404</h1>
        <p class="lead">Oops! The page you are looking for might be in another galaxy.</p>
    </div>
</div>